

---

##EGUIVAR VILLCA SHIRLEY CARMINIA

##TRABAJO FINAL : PYTHON PARA CIENCIA DE DATOS 

---

> 1 Obtaining Data

> 2 Scrubbing Data
>> 2.1 Data Combining

>> 2.2 Data Cleaning

> 3 Exploring Data

In [2]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

# 1  Obtaining Data

---

In [ ]:
demo = pd.read_csv("demographic_n.csv")
diet = pd.read_csv("diet.csv")      
exam = pd.read_csv("examination.csv")
labs = pd.read_csv("labs.csv")
meds = pd.read_csv("medications.csv", encoding = 'latin-1')
#locat = pd.read_csv("Locations.csv" ,encoding = 'latin-1')
ques = pd.read_csv("questionnaire.csv")

In [ ]:
#alldata = join_all(list(demo,diet,exam,labs,meds,ques));
#Combine diet questions

#demo.drop(['SEQN'], axis = 1, inplace=True)
diet.drop(['SEQN'], axis = 1, inplace=True)
exam.drop(['SEQN'], axis = 1, inplace=True)
labs.drop(['SEQN'], axis = 1, inplace=True)
meds.drop(['SEQN'], axis = 1, inplace=True)
ques.drop(['SEQN'], axis = 1, inplace=True)

alldata = pd.concat([demo, diet], axis=1, join='inner')
alldata = pd.concat([alldata, exam], axis=1, join='inner')
alldata = pd.concat([alldata, labs], axis=1, join='inner')
alldata = pd.concat([alldata, meds], axis=1, join='inner')
alldata = pd.concat([alldata, ques], axis=1, join='inner')

In [ ]:
alldata

,Unnamed: 0,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,...,WHD080U,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520
0,0,73557,8,2,FEMALE,69,NaN,4,4,1.0,...,NaN,40.0,270.0,200.0,69.0,270.0,62.0,NaN,NaN,NaN
1,1,73558,8,2,FEMALE,54,NaN,3,3,1.0,...,NaN,NaN,240.0,250.0,72.0,250.0,25.0,NaN,NaN,NaN
2,2,73559,8,2,FEMALE,72,NaN,3,3,2.0,...,NaN,NaN,180.0,190.0,70.0,228.0,35.0,NaN,NaN,NaN
3,3,73560,8,2,FEMALE,9,NaN,3,3,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0
4,4,73561,8,2,MALE,73,NaN,3,3,1.0,...,NaN,NaN,150.0,135.0,67.0,170.0,60.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808,9808,83365,8,2,MALE,48,NaN,2,2,1.0,...,NaN,NaN,130.0,122.0,NaN,168.0,48.0,NaN,NaN,NaN
9809,9809,83366,8,2,FEMALE,0,0.0,4,4,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9810,9810,83367,8,1,FEMALE,31,NaN,1,1,NaN,...,NaN,NaN,NaN,210.0,NaN,260.0,20.0,NaN,NaN,NaN
9811,9811,83368,8,2,MALE,43,NaN,5,6,2.0,...,NaN,NaN,120.0,100.0,NaN,125.0,42.0,NaN,NaN,NaN
9812,9812,83369,8,2,MALE,63,NaN,4,4,2.0,...,NaN,NaN,113.0,120.0,66.0,150.0,18.0,NaN,NaN,NaN

Completar la data a 75000 registros


# 2 Scrubbing Data

---
> Filtering lines

> Extracting certain columns

> Replacing values

> Extracting words

> Handling missing values

> Outlier

In [ ]:
#Filtering Columns in a new dataframe
df = alldata.filter(['SEQN',
                          'RIDAGEYR',
                          'RIAGENDR',
                          'WTINT2YR',
                          'INDFMIN2',
                          'DMDFMSIZ',
                          'LBXGH',                          
                            'BMXBMI',
                            'DMDEDUC2',                            
                            'DR1TKCAL',
                            'DR1TCARB',
                            'DR1TSUGR',
                            'DR1TFIBE',
                            'DR1TTFAT',
                            'DR1TPROT',
                            'DR1TCHOL',
                            'DR1TCAFF',
                            'DR1TALCO',                            
                             'DIAGNOSIS',
                             'RXDDRUG',
                             'RXDCOUNT',                             
                             'SMOKER',
                              'EXERCISE',
                              'country',
                             'countryCode'                     
                            ] , axis =1)

In [ ]:
df

,SEQN,RIDAGEYR,RIAGENDR,WTINT2YR,INDFMIN2,DMDFMSIZ,LBXGH,BMXBMI,DMDEDUC2,DR1TKCAL,...,DR1TCHOL,DR1TCAFF,DR1TALCO,DIAGNOSIS,RXDDRUG,RXDCOUNT,SMOKER,EXERCISE,country,countryCode
0,73557,69,FEMALE,13281.237390,4.0,3,13.9,26.7,3.0,1574.0,...,209.0,203.0,0.0,NaN,99999,2.0,NO,YES,Lesotho,LSO
1,73558,54,FEMALE,23682.057390,7.0,4,9.1,28.6,3.0,5062.0,...,2584.0,240.0,119.0,DIABETES,INSULIN,2.0,YES,YES,"Korea, Dem. People’s Rep.",PRK
2,73559,72,FEMALE,57214.803320,10.0,2,8.9,28.9,4.0,1743.0,...,88.0,45.0,0.0,Restless legs syndrome,GABAPENTIN,4.0,NO,YES,Norway,NOR
3,73560,9,FEMALE,55201.178590,9.0,4,NaN,17.1,NaN,1490.0,...,187.0,0.0,0.0,DIABETES,INSULIN GLARGINE,4.0,NO,YES,Nicaragua,NIC
4,73561,73,MALE,63709.667070,15.0,2,4.9,19.7,5.0,1421.0,...,41.0,24.0,0.0,DIABETES,OLMESARTAN,4.0,NO,YES,Equatorial Guinea,GNQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808,83365,48,MALE,17828.785870,8.0,7,5.0,24.5,1.0,4687.0,...,794.0,37.0,14.0,NaN,NaN,NaN,YES,YES,Gibraltar,GIB
9809,83366,0,FEMALE,6086.229092,6.0,6,NaN,15.9,NaN,1253.0,...,165.0,0.0,0.0,NaN,NaN,NaN,YES,YES,Faroe Islands,FRO
9810,83367,31,FEMALE,63856.639680,14.0,2,5.3,34.0,4.0,2475.0,...,171.0,12.0,0.0,ASTHMA,ALBUTEROL,2.0,YES,YES,Namibia,NAM
9811,83368,43,MALE,27893.890910,7.0,4,NaN,16.1,5.0,NaN,...,NaN,NaN,NaN,ASTHMA,PREDNISONE,2.0,NO,NO,World,WLD
9812,83369,63,MALE,18493.150530,10.0,3,NaN,19.3,2.0,2877.0,...,92.0,12.0,0.0,Functional dyspepsia,OMEPRAZOLE,1.0,NO,YES,Nepal,NPL

In [ ]:
# Renaming the columns with mainingful name 
df = df.rename(columns = {'SEQN' : 'ID',
                          'RIDAGEYR': 'Age',
                          'RIAGENDR' : 'Gender',
                          'WTINT2YR' : 'Weight',
                          'INDFMIN2' : 'Tot_family_income',
                          'DMDFMSIZ'  :'Tot_no_fam_members',
                          'LBXGH' : 'GlycoHemoglobin',
                          'BMXBMI': 'BMI',                            
                          'DMDEDUC2':'Educationlevel',
                           #-----------------------
                           "DR1TKCAL" : "calories",
                           "DR1TCARB" : "carb",
                           "DR1TSUGR" : "sugar",
                           "DR1TFIBE" : "fiber",
                           "DR1TTFAT" : "fat",
                           "DR1TPROT" : "protein",
                           "DR1TCHOL" : "cholesterol",
                           "DR1TCAFF" : "caffeine",
                           "DR1TALCO" : "alcohol",                          
                           "DIAGNOSIS": "DIAGNOSIS",
                           "RXDDRUG"  : "drug",
                           "RXDCOUNT" :"qty_drug" ,                                       
                             })

#df["proteinRatio"] = df["protein"]/df["fat"]+ df["carb"]##(alldata$fat+alldata$carb)
df

,ID,Age,Gender,Weight,Tot_family_income,Tot_no_fam_members,GlycoHemoglobin,BMI,Educationlevel,calories,...,cholesterol,caffeine,alcohol,DIAGNOSIS,drug,qty_drug,SMOKER,EXERCISE,country,countryCode
0,73557,69,FEMALE,13281.237390,4.0,3,13.9,26.7,3.0,1574.0,...,209.0,203.0,0.0,NaN,99999,2.0,NO,YES,Lesotho,LSO
1,73558,54,FEMALE,23682.057390,7.0,4,9.1,28.6,3.0,5062.0,...,2584.0,240.0,119.0,DIABETES,INSULIN,2.0,YES,YES,"Korea, Dem. People’s Rep.",PRK
2,73559,72,FEMALE,57214.803320,10.0,2,8.9,28.9,4.0,1743.0,...,88.0,45.0,0.0,Restless legs syndrome,GABAPENTIN,4.0,NO,YES,Norway,NOR
3,73560,9,FEMALE,55201.178590,9.0,4,NaN,17.1,NaN,1490.0,...,187.0,0.0,0.0,DIABETES,INSULIN GLARGINE,4.0,NO,YES,Nicaragua,NIC
4,73561,73,MALE,63709.667070,15.0,2,4.9,19.7,5.0,1421.0,...,41.0,24.0,0.0,DIABETES,OLMESARTAN,4.0,NO,YES,Equatorial Guinea,GNQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808,83365,48,MALE,17828.785870,8.0,7,5.0,24.5,1.0,4687.0,...,794.0,37.0,14.0,NaN,NaN,NaN,YES,YES,Gibraltar,GIB
9809,83366,0,FEMALE,6086.229092,6.0,6,NaN,15.9,NaN,1253.0,...,165.0,0.0,0.0,NaN,NaN,NaN,YES,YES,Faroe Islands,FRO
9810,83367,31,FEMALE,63856.639680,14.0,2,5.3,34.0,4.0,2475.0,...,171.0,12.0,0.0,ASTHMA,ALBUTEROL,2.0,YES,YES,Namibia,NAM
9811,83368,43,MALE,27893.890910,7.0,4,NaN,16.1,5.0,NaN,...,NaN,NaN,NaN,ASTHMA,PREDNISONE,2.0,NO,NO,World,WLD
9812,83369,63,MALE,18493.150530,10.0,3,NaN,19.3,2.0,2877.0,...,92.0,12.0,0.0,Functional dyspepsia,OMEPRAZOLE,1.0,NO,YES,Nepal,NPL

In [ ]:
# Reviewing Missing values

In [ ]:
df.isnull().sum()

ID                       0
Age                      0
Gender                   0
Weight                   0
Tot_family_income      120
Tot_no_fam_members       0
GlycoHemoglobin       3170
BMI                    758
Educationlevel        4252
calories              1282
carb                  1282
sugar                 1282
fiber                 1282
fat                   1282
protein               1282
cholesterol           1282
caffeine              1282
alcohol               1282
DIAGNOSIS             3077
drug                  2840
qty_drug              2840
SMOKER                   0
EXERCISE                 0
country                  0
countryCode              0
dtype: int64

In [ ]:
## We fill the missing values fot the columns TOt_family_income with the mean
df['Tot_family_income'] = df['Tot_family_income'].fillna(df.groupby(by=['Age','Gender'])['Tot_family_income'].transform('mean'))

In [ ]:
df['Educationlevel'] = df['Educationlevel'].fillna(df.groupby(by=['Age'])['Educationlevel'].transform('mean'))

In [ ]:
list1= [6.0, 6.8]
df['GlycoHemoglobin'] = df['GlycoHemoglobin'].apply(lambda x: np.random.choice(list1) if (math.isnan(float(x))) else x)

In [ ]:
list_sugar_a= [90, 150, 300]
df["sugar"] = np.where(df.GlycoHemoglobin >= 5.7 , np.random.choice(list_sugar_a), df.sugar)

list_sugar_n= [40,50]
df["sugar"] = np.where(df.GlycoHemoglobin < 5.7 , np.random.choice(list_sugar_n), df.sugar)

list_caffe_a= [8, 10, 6]
df["caffeine"] = np.where(df.GlycoHemoglobin >= 5.7 , np.random.choice(list_caffe_a), df.caffeine)

list_caffe_n= [4,3]
df["caffeine"] = np.where(df.GlycoHemoglobin < 5.7 , np.random.choice(list_caffe_n), df.caffeine)

list_carb_a= [400, 450, 500]
df["carb"] = np.where(df.GlycoHemoglobin >= 5.7 , np.random.choice(list_carb_a), df.carb)

list_carb_n= [320, 325]
df["carb"] = np.where(df.GlycoHemoglobin < 5.7 , np.random.choice(list_carb_n), df.carb)

list_alcohol_a= [80, 100, 105]
df["alcohol"] = np.where(df.GlycoHemoglobin >= 5.7 , np.random.choice(list_alcohol_a), df.alcohol)

list_alcohol_n= [45, 40]
df["alcohol"] = np.where(df.GlycoHemoglobin < 5.7 , np.random.choice(list_alcohol_n), df.alcohol)

list_calories_a= [3000, 8000, 2100]
df["calories"] = np.where(df.GlycoHemoglobin >= 5.7 , np.random.choice(list_calories_a), df.calories)

list_calories_n= [1256, 1980]
df["calories"] = np.where(df.GlycoHemoglobin < 5.7 , np.random.choice(list_calories_n), df.calories)

list_fat_a= [100, 118, 190]
df["fat"] = np.where(df.GlycoHemoglobin >= 5.7 , np.random.choice(list_fat_a), df.fat)

list_fat_n= [75,80]
df["fat"] = np.where(df.GlycoHemoglobin < 5.7 , np.random.choice(list_fat_n), df.fat)

list_protein_a= [150, 180]
df["protein"] = np.where(df.GlycoHemoglobin >= 5.7 , np.random.choice(list_protein_a), df.protein)

list_protein_n= [50,40]
df["protein"] = np.where(df.GlycoHemoglobin < 5.7 , np.random.choice(list_protein_n), df.protein)

list_cholesterol_a= [700, 580]
df["cholesterol"] = np.where(df.GlycoHemoglobin >= 5.7 , np.random.choice(list_cholesterol_a), df.cholesterol)

list_cholesterol_n= [200, 198]
df["cholesterol"] = np.where(df.GlycoHemoglobin < 5.7 , np.random.choice(list_cholesterol_n), df.cholesterol)

list_fiber_a= [6.0, 2.0]
df["fiber"] = np.where(df.GlycoHemoglobin >= 5.7 , np.random.choice(list_fiber_a), df.fiber)

list_fiber_n= [10.0, 12.0]
df["fiber"] = np.where(df.GlycoHemoglobin < 5.7 , np.random.choice(list_fiber_a), df.fiber)

list_BMI_a= [40, 38]
df["BMI"] = np.where(df.GlycoHemoglobin >= 5.7 , np.random.choice(list_BMI_a), df.BMI)

list_BMI_n= [30, 32, 31]
df["BMI"] = np.where(df.GlycoHemoglobin < 5.7 , np.random.choice(list_BMI_n), df.BMI)

In [ ]:
# Peplace the NA with zero for the below columns            
df['Educationlevel'] = df['Educationlevel'].fillna(0)     
df['drug'] = df['drug'].fillna('None') 
df['qty_drug'] = df['qty_drug'].fillna(0) 
df['DIAGNOSIS'] = df['DIAGNOSIS'].fillna('None')

In [ ]:
df.isnull().sum()

ID                    0
Age                   0
Gender                0
Weight                0
Tot_family_income     0
Tot_no_fam_members    0
GlycoHemoglobin       0
BMI                   0
Educationlevel        0
calories              0
carb                  0
sugar                 0
fiber                 0
fat                   0
protein               0
cholesterol           0
caffeine              0
alcohol               0
DIAGNOSIS             0
drug                  0
qty_drug              0
SMOKER                0
EXERCISE              0
country               0
countryCode           0
dtype: int64

In [ ]:
df.describe()

,ID,Age,Weight,Tot_family_income,Tot_no_fam_members,GlycoHemoglobin,BMI,Educationlevel,calories,carb,sugar,fiber,fat,protein,cholesterol,caffeine,alcohol,qty_drug
count,9813.00000,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.0,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000
mean,78463.00000,31.466320,30604.168367,10.490491,3.730052,5.888057,34.765719,1.993988,5218.518292,416.832773,71.518394,2.0,139.175583,119.934780,468.979925,6.765719,63.828595,4.328238
std,2832.91343,24.413015,26964.008070,13.522815,1.774712,0.928177,3.490077,1.975302,3001.465881,89.744827,19.943295,0.0,54.844061,64.815708,249.291186,3.490077,17.450383,4.329689
min,73557.00000,0.000000,3697.772098,1.000000,1.000000,3.500000,31.000000,0.000000,1980.000000,320.000000,50.000000,2.0,80.000000,50.000000,200.000000,3.000000,45.000000,0.000000
25%,76010.00000,10.000000,12754.485280,5.000000,2.000000,5.300000,31.000000,0.000000,1980.000000,320.000000,50.000000,2.0,80.000000,50.000000,200.000000,3.000000,45.000000,0.000000
50%,78463.00000,26.000000,20231.119490,7.000000,4.000000,5.700000,38.000000,2.000000,8000.000000,500.000000,90.000000,2.0,190.000000,180.000000,700.000000,10.000000,80.000000,3.000000
75%,80916.00000,52.000000,36284.650270,14.000000,5.000000,6.100000,38.000000,4.000000,8000.000000,500.000000,90.000000,2.0,190.000000,180.000000,700.000000,10.000000,80.000000,7.000000
max,83369.00000,80.000000,167884.543700,99.000000,7.000000,17.500000,38.000000,9.000000,8000.000000,500.000000,90.000000,2.0,190.000000,180.000000,700.000000,10.000000,80.000000,23.000000

In [ ]:
headers = list(df.columns.values)
headers

['ID',
 'Age',
 'Gender',
 'Weight',
 'Tot_family_income',
 'Tot_no_fam_members',
 'GlycoHemoglobin',
 'BMI',
 'Educationlevel',
 'calories',
 'carb',
 'sugar',
 'fiber',
 'fat',
 'protein',
 'cholesterol',
 'caffeine',
 'alcohol',
 'DIAGNOSIS',
 'drug',
 'qty_drug',
 'SMOKER',
 'EXERCISE',
 'country',
 'countryCode']

In [ ]:
df

,ID,Age,Gender,Weight,Tot_family_income,Tot_no_fam_members,GlycoHemoglobin,BMI,Educationlevel,calories,...,cholesterol,caffeine,alcohol,DIAGNOSIS,drug,qty_drug,SMOKER,EXERCISE,country,countryCode
0,73557,69,FEMALE,13281.237390,4.0,3,13.9,38.0,3.0,8000.0,...,700.0,10.0,80.0,None,99999,2.0,NO,YES,Lesotho,LSO
1,73558,54,FEMALE,23682.057390,7.0,4,9.1,38.0,3.0,8000.0,...,700.0,10.0,80.0,DIABETES,INSULIN,2.0,YES,YES,"Korea, Dem. People’s Rep.",PRK
2,73559,72,FEMALE,57214.803320,10.0,2,8.9,38.0,4.0,8000.0,...,700.0,10.0,80.0,Restless legs syndrome,GABAPENTIN,4.0,NO,YES,Norway,NOR
3,73560,9,FEMALE,55201.178590,9.0,4,6.8,38.0,0.0,8000.0,...,700.0,10.0,80.0,DIABETES,INSULIN GLARGINE,4.0,NO,YES,Nicaragua,NIC
4,73561,73,MALE,63709.667070,15.0,2,4.9,31.0,5.0,1980.0,...,200.0,3.0,45.0,DIABETES,OLMESARTAN,4.0,NO,YES,Equatorial Guinea,GNQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808,83365,48,MALE,17828.785870,8.0,7,5.0,31.0,1.0,1980.0,...,200.0,3.0,45.0,None,None,0.0,YES,YES,Gibraltar,GIB
9809,83366,0,FEMALE,6086.229092,6.0,6,6.0,38.0,0.0,8000.0,...,700.0,10.0,80.0,None,None,0.0,YES,YES,Faroe Islands,FRO
9810,83367,31,FEMALE,63856.639680,14.0,2,5.3,31.0,4.0,1980.0,...,200.0,3.0,45.0,ASTHMA,ALBUTEROL,2.0,YES,YES,Namibia,NAM
9811,83368,43,MALE,27893.890910,7.0,4,6.0,38.0,5.0,8000.0,...,700.0,10.0,80.0,ASTHMA,PREDNISONE,2.0,NO,NO,World,WLD
9812,83369,63,MALE,18493.150530,10.0,3,6.0,38.0,2.0,8000.0,...,700.0,10.0,80.0,Functional dyspepsia,OMEPRAZOLE,1.0,NO,YES,Nepal,NPL

In [ ]:
list_sugar_a= [40, 50, 90, 150, 300]
list_caffe_a= [4, 3, 8, 10, 6]
list_carb_a= [400, 450, 500 , 320, 325]
list_alcohol_a= [80, 100, 105, 45, 40]
list_calories_a= [3000, 8000, 2100, 1256, 1980]
list_fat_a= [100, 118, 190, 75, 80]
list_protein_a= [150, 180, 50, 40]
list_cholesterol_a= [700, 580, 200, 198]
list_fiber_a= [6.0, 2.0, 10.0, 12.0]
list_BMI_a= [40, 38, 30, 32, 31]



Age_List = [18,33,55,48,60,12,28,36,45]
Gender_List = ['FEMALE','MALE']
Weight_List = list(df["Weight"])
Tot_family_income_List = list(df["Tot_family_income"])
Tot_no_fam_members_List = list(df["Tot_no_fam_members"])
GlycoHemoglobin_List = list(df["GlycoHemoglobin"])
BMI_List = list_BMI_a
Educationlevel_List = list(df["Educationlevel"])
calories_List = list_calories_a
carb_List = list_carb_a
sugar_List = list_sugar_a
fiber_List = list_fiber_a
fat_List = list_fat_a
protein_List = list_protein_a
cholesterol_List = list_cholesterol_a
caffeine_List = list_caffe_a
alcohol_List = list_alcohol_a
DIAGNOSIS_List = list(df["DIAGNOSIS"])
drug_List = list(df["drug"])
qty_drug_List = list(df["qty_drug"])
SMOKER_List = ['YES','NO']
EXERCISE_List = ['YES','NO']
country_List = list(df["country"])
countryCode_List = list(df["countryCode"])

for x in range(100):
    df.loc[df.shape[0]] = [df["ID"].max()+1, np.random.choice(Age_List),np.random.choice(Gender_List),np.random.choice(Weight_List),np.random.choice(Tot_family_income_List),np.random.choice(Tot_no_fam_members_List),np.random.choice(GlycoHemoglobin_List),np.random.choice(BMI_List),np.random.choice(Educationlevel_List),np.random.choice(calories_List),np.random.choice(carb_List),np.random.choice(sugar_List),np.random.choice(fiber_List),np.random.choice(fat_List),np.random.choice(protein_List),np.random.choice(cholesterol_List),np.random.choice(caffeine_List),np.random.choice(alcohol_List),np.random.choice(DIAGNOSIS_List),np.random.choice(drug_List),np.random.choice(qty_drug_List),np.random.choice(SMOKER_List),np.random.choice(EXERCISE_List),np.random.choice(country_List),np.random.choice(countryCode_List)]

In [ ]:
df

,ID,Age,Gender,Weight,Tot_family_income,Tot_no_fam_members,GlycoHemoglobin,BMI,Educationlevel,calories,...,cholesterol,caffeine,alcohol,DIAGNOSIS,drug,qty_drug,SMOKER,EXERCISE,country,countryCode
0,73557,69,FEMALE,13281.23739,4.0,3,13.9,38.0,3.0,8000.0,...,700.0,10.0,80.0,None,99999,2.0,NO,YES,Lesotho,LSO
1,73558,54,FEMALE,23682.05739,7.0,4,9.1,38.0,3.0,8000.0,...,700.0,10.0,80.0,DIABETES,INSULIN,2.0,YES,YES,"Korea, Dem. People’s Rep.",PRK
2,73559,72,FEMALE,57214.80332,10.0,2,8.9,38.0,4.0,8000.0,...,700.0,10.0,80.0,Restless legs syndrome,GABAPENTIN,4.0,NO,YES,Norway,NOR
3,73560,9,FEMALE,55201.17859,9.0,4,6.8,38.0,0.0,8000.0,...,700.0,10.0,80.0,DIABETES,INSULIN GLARGINE,4.0,NO,YES,Nicaragua,NIC
4,73561,73,MALE,63709.66707,15.0,2,4.9,31.0,5.0,1980.0,...,200.0,3.0,45.0,DIABETES,OLMESARTAN,4.0,NO,YES,Equatorial Guinea,GNQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64910,138467,45,FEMALE,28103.21528,15.0,2,4.8,30.0,0.0,1256.0,...,580.0,10.0,45.0,"Dorsalgia, unspecified",BUDESONIDE; FORMOTEROL,0.0,YES,NO,Least developed countries: UN classification,TEC
64911,138468,48,MALE,12207.61442,7.0,2,6.0,30.0,0.0,1256.0,...,198.0,4.0,45.0,HYPERTENSION,None,7.0,NO,NO,"Congo, Rep.",CSS
64912,138469,48,FEMALE,50317.13463,4.0,2,5.3,31.0,5.0,1980.0,...,580.0,8.0,105.0,HYPERCHOLESTEROLEMIA,None,3.0,YES,YES,Fragile and conflict affected situations,SDN
64913,138470,36,FEMALE,18062.64883,4.0,5,4.6,40.0,4.0,1256.0,...,198.0,4.0,105.0,"Alzheimer's disease, unspecified",None,0.0,YES,YES,Latin America & the Caribbean (IDA & IBRD coun...,KWT
64914,138471,28,MALE,12423.09999,6.0,7,6.8,32.0,2.0,1980.0,...,580.0,6.0,45.0,None,METFORMIN,0.0,YES,NO,France,LVA

# Remove Outliers

In [ ]:
meandf = df.mean()
stddf = df.std()
toprange = meandf + stddf * 1.96
botrange = meandf - stddf * 1.96
df1 = df
df1 = df1.drop(df1[df1['Age'] > toprange['Age']].index)
df1 = df1.drop(df1[df1['Age'] < botrange['Age']].index)
df1 = df1.drop(df1[df1['BMI'] > toprange['BMI']].index)
df1 = df1.drop(df1[df1['BMI'] < botrange['BMI']].index)
df1 = df1.drop(df1[df1['GlycoHemoglobin'] > toprange['GlycoHemoglobin']].index)
df1 = df1.drop(df1[df1['GlycoHemoglobin'] < botrange['GlycoHemoglobin']].index)
df1

,ID,Age,Gender,Weight,Tot_family_income,Tot_no_fam_members,GlycoHemoglobin,BMI,Educationlevel,calories,...,cholesterol,caffeine,alcohol,DIAGNOSIS,drug,qty_drug,SMOKER,EXERCISE,country,countryCode
3,73560,9,FEMALE,55201.17859,9.0,4,6.8,38.0,0.0,8000.0,...,700.0,10.0,80.0,DIABETES,INSULIN GLARGINE,4.0,NO,YES,Nicaragua,NIC
5,73562,56,FEMALE,24978.14460,9.0,1,5.5,31.0,4.0,1980.0,...,200.0,3.0,45.0,HYPERCHOLESTEROLEMIA,SIMVASTATIN,4.0,NO,YES,Qatar,QAT
7,73564,61,MALE,60325.09525,10.0,1,5.5,31.0,5.0,1980.0,...,200.0,3.0,45.0,DIABETES,INSULIN GLARGINE,5.0,YES,YES,United States,USA
8,73565,42,FEMALE,23307.67563,15.0,4,5.4,31.0,3.0,1980.0,...,200.0,3.0,45.0,"Disease of pancreas, unspecified",PANCRELIPASE,5.0,YES,YES,Luxembourg,LUX
9,73566,56,MALE,16351.78314,4.0,7,5.2,31.0,3.0,1980.0,...,200.0,3.0,45.0,HYPERCHOLESTEROLEMIA,SIMVASTATIN,5.0,YES,YES,"Congo, Rep.",COG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64910,138467,45,FEMALE,28103.21528,15.0,2,4.8,30.0,0.0,1256.0,...,580.0,10.0,45.0,"Dorsalgia, unspecified",BUDESONIDE; FORMOTEROL,0.0,YES,NO,Least developed countries: UN classification,TEC
64911,138468,48,MALE,12207.61442,7.0,2,6.0,30.0,0.0,1256.0,...,198.0,4.0,45.0,HYPERTENSION,None,7.0,NO,NO,"Congo, Rep.",CSS
64912,138469,48,FEMALE,50317.13463,4.0,2,5.3,31.0,5.0,1980.0,...,580.0,8.0,105.0,HYPERCHOLESTEROLEMIA,None,3.0,YES,YES,Fragile and conflict affected situations,SDN
64913,138470,36,FEMALE,18062.64883,4.0,5,4.6,40.0,4.0,1256.0,...,198.0,4.0,105.0,"Alzheimer's disease, unspecified",None,0.0,YES,YES,Latin America & the Caribbean (IDA & IBRD coun...,KWT
64914,138471,28,MALE,12423.09999,6.0,7,6.8,32.0,2.0,1980.0,...,580.0,6.0,45.0,None,METFORMIN,0.0,YES,NO,France,LVA

In [ ]:
df1.to_csv("df.csv");

In [5]:
#df.describe()